	Options +FollowSymLinks
	RewriteEngine on
	
	RewriteBase /
	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
	RewriteRule ^$ /accueil [R=301,L]
	
	RewriteRule accueil$ /index.php [L]
	RewriteRule services$ /services.php [L]
	RewriteRule societe$ /societe.php [L]
	RewriteRule galerie$ /galerie.php [L]
	RewriteRule qualite$ /qualite.php [L]
	RewriteRule contact$ /contact.php [L]
